openapi: '3.0.0'
info:
  version: '1.0'
  title: MyDisease.info API
  description: >-
    Documentation of the MyDisease.info Disease Query web services. Learn more about
    [MyDisease.info](http://mydisease.info/)
  termsOfService: http://mydisease.info/terms/
  contact:
    name: Chunlei Wu
    x-role: responsible developer
    email: help@mydisease.info
    x-id:
      - 'http://orcid.org/0000-0002-2629-6124'
      - 'https://github.com/newgene'
servers:
  - url: 'http://mydisease.info/v1'
    description: 'Production server'
tags:
  - name: disease
  - name: annotation
  - name: query
  - name: translator
paths:
  '/disease/{mondoid}':
    get:
      summary: Retrieve disease objects based on mondo ID
      parameters:
        - name: mondoid
          in: path
          description: >-
            MONDO ID
          required: true
          x-valueType:
            - 'http://biothings.io/explorer/vocab/terms/mondo/'
          x-requestTemplate:
            - valueType: 'http://biothings.io/explorer/vocab/terms/mondo/'
              template: /disease/MONDO:{mondoid}
          schema:
            type: string
      responses:
        '200':
          description: A matching disease object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chem'
          x-responseValueType:
            - path: mondo.label
              valueType: 'http://biothings.io/explorer/vocab/terms/disease-name/'
            - path: mondo.definition
              valueType: 'http://biothings.io/explorer/vocab/terms/disease-description/'
            - path: mondo.xrefs.doid
              valueType: 'http://identifiers.org/doid/'
            - path: mondo.xrefs.omim
              valueType: 'http://biothings.io/explorer/vocab/terms/omim.disease/'
            - path: mondo.xrefs.umls
              valueType: 'http://biothings.io/explorer/vocab/terms/umls.disease/'
          x-JSONLDContext:
            'mydisease.info/jsonld_context/mydisease_disease_annotation.json'
  '/querydiseasetogene':
    get:
      summary: Retrieve genes related to disease
      parameters:
        - name: diseaseid
          in: path
          description: >-
            disease ID, e.g. UMLS ID
          required: true
          x-valueType:
            - 'http://biothings.io/explorer/vocab/terms/umls.disease/'
            - 'http://biothings.io/explorer/vocab/terms/mondo/'
            - 'http://identifiers.org/doid/'
            - 'http://biothings.io/explorer/vocab/terms/omim.disease/'
          x-requestTemplate:
            - valueType: 'http://biothings.io/explorer/vocab/terms/umls.disease/'
              template: /query?q=disgenet.xrefs.umls:{diseaseid}&fields=disgenet.genes_related_to_disease
            - valueType: 'http://biothings.io/explorer/vocab/terms/mondo/'
              template: /query?q=_id:"MONDO:{diseaseid}"&fields=disgenet.genes_related_to_disease
            - valueType: 'http://identifiers.org/doid/'
              template: /query?q=mondo.xrefs.doid:"DOID:{diseaseid}"&fields=disgenet.genes_related_to_disease
            - valueType: 'http://biothings.io/explorer/vocab/terms/omim.disease/'
              template: /query?q=mondo.xrefs.omim:{diseaseid}&fields=disgenet.genes_related_to_disease
          schema:
            type: string
      responses:
        '200':
          description: A matching gene object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chem'
          x-responseValueType:
            - path: hits.disgenet.genes_related_to_disease.gene_id
              valueType: 'http://identifiers.org/ncbigene/'
            - path: hits.disgenet.genes_related_to_disease.gene_name
              valueType: 'http://identifiers.org/hgnc.symbol/'
          x-JSONLDContext:
            'mydisease.info/jsonld_context/mydisease_disease2gene.json'
  '/querydiseasetovariant':
    get:
      summary: Retrieve variants related to disease
      parameters:
        - name: diseaseid
          in: path
          description: >-
            disease ID, e.g. UMLS ID
          required: true
          x-valueType:
            - 'http://biothings.io/explorer/vocab/terms/umls.disease/'
            - 'http://biothings.io/explorer/vocab/terms/mondo/'
            - 'http://identifiers.org/doid/'
            - 'http://biothings.io/explorer/vocab/terms/omim.disease/'
          x-requestTemplate:
            - valueType: 'http://biothings.io/explorer/vocab/terms/umls.disease/'
              template: /query?q=disgenet.xrefs.umls:{diseaseid}&fields=disgenet.variants_related_to_disease
            - valueType: 'http://biothings.io/explorer/vocab/terms/mondo/'
              template: /query?q=_id:"MONDO:{diseaseid}"&fields=disgenet.variants_related_to_disease
            - valueType: 'http://identifiers.org/doid/'
              template: /query?q=mondo.xrefs.doid:"DOID:{diseaseid}"&fields=disgenet.variants_related_to_disease
            - valueType: 'http://biothings.io/explorer/vocab/terms/omim.disease/'
              template: /query?q=mondo.xrefs.omim:{diseaseid}&fields=disgenet.variants_related_to_disease
          schema:
            type: string
      responses:
        '200':
          description: A matching gene object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chem'
          x-responseValueType:
            - path: hits.disgenet.variants_related_to_disease.rsid
              valueType: 'http://identifiers.org/dbsnp/'
          x-JSONLDContext:
            'mydisease.info/jsonld_context/mydisease_disease2variant.json'
  '/querydiseasetophenotype':
    get:
      summary: Retrieve phenotypes related to disease
      parameters:
        - name: diseaseid
          in: path
          description: >-
            disease ID, e.g. UMLS ID
          required: true
          x-valueType:
            - 'http://biothings.io/explorer/vocab/terms/umls.disease/'
            - 'http://biothings.io/explorer/vocab/terms/mondo/'
            - 'http://identifiers.org/doid/'
            - 'http://biothings.io/explorer/vocab/terms/omim.disease/'
            - 'http://identifiers.org/orphanet/'
          x-requestTemplate:
            - valueType: 'http://biothings.io/explorer/vocab/terms/umls.disease/'
              template: /query?q=mondo.xrefs.umls:{diseaseid}&fields=hpo.phenotype_related_to_disease
            - valueType: 'http://biothings.io/explorer/vocab/terms/mondo/'
              template: /query?q=_id:"MONDO:{diseaseid}"&fields=hpo.phenotype_related_to_disease
            - valueType: 'http://identifiers.org/doid/'
              template: /query?q=mondo.xrefs.doid:"DOID:{diseaseid}"&fields=hpo.phenotype_related_to_disease
            - valueType: 'http://biothings.io/explorer/vocab/terms/omim.disease/'
              template: /query?q=mondo.xrefs.omim:{diseaseid}&fields=hpo.phenotype_related_to_disease
            - valueType: 'http://identifiers.org/orphanet/'
              template: /query?q=mondo.xrefs.orphanet:{diseaseid}&fields=hpo.phenotype_related_to_disease  
          schema:
            type: string
      responses:
        '200':
          description: A matching gene object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chem'
          x-responseValueType:
            - path: hits.hpo.phenotypes_related_to_disease.rsid
              valueType: 'http://identifiers.org/hp/'
          x-JSONLDContext:
            'mydisease.info/jsonld_context/mydisease_disease2phenotype.json'
  '/queryphenotypetodisease':
    get:
      summary: Retrieve diseases related to phenotype
      parameters:
        - name: phenotypeid
          in: path
          description: >-
            phenotype ID, e.g. HPO ID
          required: true
          x-valueType:
            - 'http://identifiers.org/hp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hp/'
              template: /query?q=hpo.phenotype_related_to_disease.hpo_id:"HP:{phenotypeid}"&fields=_id,mondo
          schema:
            type: string
      responses:
        '200':
          description: A matching disease object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chem'
          x-responseValueType:
            - path: hits.mondo.xrefs.doid
              valueType: 'http://identifiers.org/doid/'
            - path: hits.mondo.xrefs.omim
              valueType: 'http://biothings.io/explorer/vocab/terms/omim.disease/'
          x-JSONLDContext:
            'mydisease.info/jsonld_context/mydisease_phenotype2disease.json'
  '/querygenetodisease':
    get:
      summary: Retrieve diseases related to phenotype
      parameters:
        - name: geneid
          in: path
          description: >-
            gene ID, e.g. ncbigene id
          required: true
          x-valueType:
            - 'http://identifiers.org/ncbigene/'
            - 'http://identifiers.org/hgnc.symbol/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/ncbigene/'
              template: /query?q=disgenet.genes_related_to_disease.gene_id:{geneid}&fields=_id,mondo
            - valueType: 'http://identifiers.org/hgnc.symbol/'
              template: /query?q=disgenet.genes_related_to_disease.gene_name:{geneid}&fields=_id,mondo
          schema:
            type: string
      responses:
        '200':
          description: A matching disease object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chem'
          x-responseValueType:
            - path: hits.mondo.xrefs.doid
              valueType: 'http://identifiers.org/doid/'
            - path: hits.mondo.xrefs.omim
              valueType: 'http://biothings.io/explorer/vocab/terms/omim.disease/'
          x-JSONLDContext:
            'mydisease.info/jsonld_context/mydisease_gene2disease.json'