openapi: '3.0.0'
info:
  version: '3.0'
  title: MyGene.info API
  description: >-
    Documentation of the MyGene.info Gene Query web services. Learn more about
    [MyGene.info](http://mygene.info/)
  termsOfService: http://mygene.info/terms/
  contact:
    name: Chunlei Wu
    x-role: responsible developer
    email: help@mygene.info
    x-id:
      - 'http://orcid.org/0000-0002-2629-6124'
      - 'https://github.com/newgene'
servers:
  - url: 'http://mygene.info/v3'
    description: 'Production server'
tags:
  - name: gene
  - name: annotation
  - name: query
  - name: translator
paths:
  '/gene/{geneid}':
    get:
      summary: 'For a given gene id, return the matching gene object'
      parameters:
        - name: geneid
          in: path
          description: >-
            Entrez or Ensembl gene id, e.g., 1017, ENSG00000170248. A retired
            Entrez Gene id works too if it is replaced by a new one, e.g.,
            245794
          required: true
          x-valueType:
            - 'http://identifiers.org/ncbigene/'
            - 'http://identifiers.org/ensembl.gene/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/ncbigene/'
              template: /gene/{geneid}
            - valueType: 'http://identifiers.org/ensembl.gene/'
              template: /gene/{geneid}
          schema:
            type: string
      responses:
        '200':
          description: 'A gene object'
          x-responseValueType:
            - path: ./
              objectType: "http://biothings.io/explorer/vocab/class/Gene/"
              valueType: 
                - "http://identifiers.org/hgnc.symbol/"
                - "http://identifiers.org/taxonomy/"
              JSONLDContext: 'mygene.info/jsonld_context/mygene_gene_gene.json'
            - path: pathway
              objectType: "http://biothings.io/explorer/vocab/objects/GeneToPathwayObject/"
              valueType:
                - "http://identifiers.org/biocarta.pathway/"
                - "http://identifiers.org/kegg.pathway/"
                - "http://identifiers.org/reactome/"
                - "http://identifiers.org/wikipathways/"
                - "http://identifiers.org/pharmgkb.pathways/"
              JSONLDContext: 'mygene.info/jsonld_context/mygene_gene_pathway.json'
            - path: go
              objectType: "http://biothings.io/explorer/vocab/objects/GeneToGoTermObject/"
              valueType:
                - "http://identifiers.org/go/"
              JSONLDContext: 'mygene.info/jsonld_context/mygene_gene_go.json'
            - path: uniprot
              objectType: "http://biothings.io/explorer/vocab/objects/GeneToGeneProductObject/"
              valueType:
                - "http://identifiers.org/uniprot/"
                - "http://identifiers.org/ensembl.protein/"
                - "http://identifiers.org/ensembl.transcript/"
                - "http://identifiers.org/ensembl.translation/"
              JSONLDContext: 'mygene.info/jsonld_context/mygene_gene_protein.json'
