openapi: '3.0.0'
info:
  version: '1.0'
  title: MyVariant.info API
  description: >-
    Documentation of the MyVariant.info Variant Query web services. Learn more about
    [MyVariant.info](http://myvariant.info/)
  termsOfService: http://myvariant.info/terms/
  contact:
    name: Chunlei Wu
    x-role: responsible developer
    email: help@myvariant.info
    x-id: https://github.com/newgene
servers:
  - url: 'http://myvariant.info/v1'
    description: 'Production server'
  - url: 'https://myvariant.info/v1'
    description: 'Encrypted Production server'
tags:
  - name: variant
  - name: query
  - name: metadata
  - name: translator
paths:
  /query:
    get:
      tags:
        - "query"
      summary: 'Make variant query and return matching variant list. Support JSONP and CORS as well.'
      parameters:
        - name: q
          in: "query"
          description: 'Query string. Examples "rs752396467", "possibly_damaging", "CDK7". The detailed query syntax can be found from our [docs](http://docs.myvariant.info/en/latest/doc/variant_query_service.html).'
          required: true
          example: CDK7
          schema:
            type: string
          x-valueType:
            - 'http://identifiers.org/hgnc.symbol/'
            - 'http://identifiers.org/dbsnp/'
            - 'http://identifiers.org/ensembl.gene/'
            - 'http://identifiers.org/ensembl.transcript/'
            - 'http://identifiers.org/ensembl.protein/'
            - 'http://identifiers.org/ccds/'
            - 'http://identifiers.org/uniprot/'
            - 'http://identifiers.org/clinvar/'
            - 'http://identifiers.org/clinvar.record/'
            - 'http://identifiers.org/omim.variant/'
            - 'http://identifiers.org/efo/'
            - 'http://identifiers.org/orphanet/'
            - 'http://identifiers.org/hgnc/'
            - 'http://identifiers.org/pubmed/'
            - 'http://identifiers.org/clinicalsignificance/'
            - 'http://biothings.io/terms/drugname/'
            - 'http://identifiers.org/doid/'
            - 'http://biothings.io/concepts/disease_name/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hgnc.symbol/'
              template: cadd.gene.genename:input_value OR cgi.gene:input_value OR clinvar.gene.symbol:input_value OR dbnsfp.genename:input_value OR dbsnp.gene.symbol:input_value OR docm.genename:input_value OR emv.gene:input_value OR evs.gene.symbol:input_value OR snpeff.ann.genename:input_value
            - valueType: 'http://identifiers.org/dbsnp/'
              template: clinvar.rsid:input_value OR dbnsfp.rsid:input_value OR dbsnp.rsid:input_value OR evs.rsid:input_value
            - valueType: 'http://identifiers.org/ensembl.gene/'
              template: dbnsfp.ensembl.geneid:input_value OR cadd.gene.gene_id:input_value
            - valueType: 'http://identifiers.org/ensembl.transcript/'
              template: dbnsfp.ensembl.transcriptid:input_value OR cadd.gene.feature_id:input_value
            - valueType: 'http://identifiers.org/ensembl.protein/'
              template: dbnsfp.ensembl.proteinid:input_value
            - valueType: 'http://identifiers.org/ccds/'
              template: cadd.gene.ccds_id:input_value
            - valueType: 'http://identifiers.org/uniprot/'
              template: dbnsfp.uniprot.acc:input_value
            - valueType: 'http://identifiers.org/omim.variant/'
              template: clinvar.omim:input_value
            - valueType: 'http://identifiers.org/efo/'
              template: clinvar.rcv.conditions.identifiers.efo:input_value
            - valueType: 'http://identifiers.org/orphanet/'
              template: clinvar.rcv.conditions.identifiers.orphanet:input_value
            - valueType: 'http://identifiers.org/hgnc/'
              template: clinvar.gene.id:input_value OR dbsnp.gene.geneid:input_value
            - valueType: 'http://identifiers.org/pubmed/'
              template: civic.evidence_items.source.pubmed_id:input_value OR docm.pubmed_id:input_value OR gwassnps.pubmed:input_value
            - valueType: 'http://identifiers.org/clinicalsignificance/'
              template: clinvar.rcv.clinical_significance:input_value
            - valueType: 'http://biothings.io/terms/drugname/'
              template: civic.evidence_items.drugs.name:input_value
            - valueType: 'http://identifiers.org/doid/'
              template: civic.evidence_items.disease.doid:"input_value"
            - valueType: 'http://biothings.io/concepts/disease_name/'
              template: civic.evidence_items.disease.display_name:input_value
            - valueType: 'http://identifiers.org/clinvar.record/'
              template: clinvar.rcv.accession:input_value
            - valueType: 'http://identifiers.org/clinvar/'
              template: clinvar.variant_id:input_value
          schema:
            type: string
        - name: callback
          in: "query"
          $ref: '#/components/parameters/callback'
        - name: dotfield
          in: "query"
          $ref: '#/components/parameters/dotfield'
        - name: email
          in: "query"
          $ref: '#/components/parameters/email'
      responses:
        '200':
          description: 'A query response object with "hits" property'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          x-responseValueType:
            - path: hits._id
              valueType: 'http://identifiers.org/hgvs/'
            - path: dbsnp.rsid
              valueType: 'http://identifiers.org/dbsnp/'
          x-JSONLDContext:
            'myvariant.info/jsonld_context/myvariant_query_1.1.json'
  '/variant/{variantid}':
    get:
      tags:
        - "variant"
      summary: 'Retrieve variant annotation object based on HGVS or rsid, support JSONP and CORS as well.'
      parameters:
        - name: variantid
          in: path
          description: >-
            HGVS or rsid, e.g., chr6:g.152708291G>A, rs12190874
          required: true
          example: 'chr6:g.152708291G>A'
          x-valueType:
            - 'http://identifiers.org/hgvs/'
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hgvs/'
              template: /variant/{variantid}
            - valueType: 'http://identifiers.org/dbsnp/'
              template: /variant/{variantid}
          schema:
            type: string
        - name: fields
          in: "query"
          $ref: '#/components/parameters/fields'
        - name: dotfield
          in: "query"
          $ref: '#/components/parameters/dotfield'
        - name: callback
          in: "query"
          $ref: '#/components/parameters/callback'
        - name: email
          in: "query"
          $ref: '#/components/parameters/email'
      responses:
        '200':
          description: 'A matching variant object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'
          x-responseValueType:
            - path: _id
              valueType: 'http://identifiers.org/hgvs/'
          x-JSONLDContext:
            'https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/myvariant.info/jsonld_context/myvariant_variant_1.1.json'
        '404':
          description: 'A response indicating an unknown variant id'
  '/variant':
    post:
      tags:
        - "variant"
      summary: 'For a list of variant ids, return the matching variant objects'
      requestBody:
        content:
          'application/x-www-form-urlencoded':
            schema:
             properties:
                ids:
                  description: 'multiple variant ids seperated by comma, e.g., "ids=chr6:g.152708291G>A,chr1:g.35367G>A" or "ids=rs5882,rs12190874". Note that currently we only take the input ids up to 1000 maximum, the rest will be omitted.'
                  type: string
             required:
               - ids
      parameters:
        - name: fields
          in: "query"
          $ref: '#/components/parameters/fields'
        - name: dotfield
          in: "query"
          $ref: '#/components/parameters/dotfield'
        - name: email
          in: "query"
          $ref: '#/components/parameters/email'
      responses:
        '200':
          description: 'a list of matching variant objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Variant'
          x-responseValueType:
            - path: cadd.gene.genename
              valueType: 'http://identifiers.org/hgnc.symbol/'
            - path: clinvar.rsid
              valueType: 'http://identifiers.org/dbsnp/'
            - path: cadd.gene.gene_id
              valueType: 'http://identifiers.org/ensembl.gene/'
            - path: cadd.gene.feature_id
              valueType: 'http://identifiers.org/ensembl.transcript/'
            - path: cadd.gene.ccds_id
              valueType: 'http://identifiers.org/ccds/'
            - path: clinvar.uniprot
              valueType: 'http://identifiers.org/uniprot/'
            - path: clinvar.rcv.accession
              valueType: 'http://identifiers.org/clinvar.record/'
            - path: clinvar.variant_id
              valueType: 'http://identifiers.org/clinvar/'
            - path: clinvar.rcv.conditions.identifiers.omim
              valueType: 'http://identifiers.org/omim.disease/'
            - path: clinvar.omim
              valueType: 'http://identifiers.org/omim.variant/'
            - path: clinvar.rcv.conditions.identifiers.efo
              valueType: 'http://identifiers.org/efo/'
            - path: clinvar.rcv.conditions.identifiers.orphanet
              valueType: 'http://identifiers.org/orphanet/'
            - path: clinvar.gene.id
              valueType: 'http://identifiers.org/ncbigene/'
            - path: dbnsfp.ensembl.proteinid
              valueType: 'http://identifiers.org/ensembl.protein/'
            - path: docm.pubmed_id
              valueType: 'http://identifiers.org/pubmed/'
            - path: clinvar.rcv.clinical_significance
              valueType: 'http://identifiers.org/clinicalsignificance/'
            - path: civic.evidence_items.drugs.name
              valueType: 'http://biothings.io/terms/drugname/'
            - path: civic.evidence_items.disease.doid
              valueType: 'http://identifiers.org/doid/'
            - path: civic.evidence_items.disease.display_name
              valueType: 'http://biothings.io/concepts/disease_name/'
          x-JSONLDContext:
            'myvariant.info/jsonld_context/myvariant_variant_1.1.json'