openapi: '3.0.0'
info:
  version: '1.0'
  title: Ensembl API
  description: >-
    Ensembl REST API provides language agnostic bindings to Ensembl data.
  termsOfService: http://dgidb.genome.wustl.edu/contact
  contact:
    name: Paul Flicek
    x-role: responsible developer
    email: help@ensembl.org
    x-id: 'https://github.com/paul'
servers:
  - url: 'http://rest.ensembl.org'
    description: 'Production server'
tags:
  - name: variant
paths:
  '/variation/human/pmid/{pmid}':
    get:
      summary: 'Fetch variants by publication using PubMed reference number (PMID)'
      parameters:
        - name: pmid
          in: path
          description: >-
            PubMed reference number (PMID)
          required: true
          example: 26318936
          x-valueType:
            - 'http://identifiers.org/pubmed/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/pubmed/'
              template: /variation/human/pmid/{pmid}?content-type=application/json
          schema:
            type: string
      responses:
        '200':
          description: 'A variant annotation object'
          x-responseValueType:
            - path: name
              valueType: 'http://identifiers.org/dbsnp/'
          x-JSONLDContext:
            'ensembl/jsonld_context/pmid2rsid_context.json'
  '/variation/human/{rsid}':
    get:
      summary: 'Uses a variant identifier (e.g. rsID) to return phenotypic feature associated with the variant'
      parameters:
        - name: rsid
          in: path
          description: Variant id
          required: true
          example: rs56116432
          x-valueType:
            - 'http://identifiers.org/dbsnp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/dbsnp/'
              template: /variation/human/{rsid}?phenotypes=1;content-type=application/json
          schema:
            type: string
      responses:
        '200':
          description: 'A phenoytpe annotation object'
          x-responseValueType:
            - path: phenotypes.trait
              valueType: http://biothings.io/explorer/vocab/terms/phenotype-name/
            - path: phenotypes.ontology_accessions
              valueType: http://identifiers.org/hp/
          x-JSONLDContext:
            'ensembl/jsonld_context/rsid2phenotype_context.json'
  '/taxonomy/id/{taxonomyid}':
    get:
      summary: 'Search for a taxonomic term by its identifier or name'
      parameters:
        - name: taxonomyid
          in: path
          description: >-
            Put taxonomy ids here, e.g. 9606
          required: true
          x-valueType:
            - 'http://identifiers.org/taxonomy/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/taxonomy/'
              template: '/taxonomy/id/{taxonomyid}?content-type=application/json'
          schema:
            type: string
      responses:
        '200':
          description: 'taxonomy annotation information'
          x-responseValueType:
            - path: parent.id
              valueType: 'http://identifiers.org/taxonomy/'
          x-JSONLDContext:
            'ensembl/jsonld_context/ensembl_taxonomy_context.json'
  '/lookup/id/{geneid}':
    get:
      summary: 'Find the species and database for a single identifier e.g. gene, transcript, protein'
      parameters:
        - name: geneid
          in: path
          description: >-
            Put ensembl gene ids here, e.g. ENSG00000157764
          required: true
          x-valueType:
            - 'http://biothings.io/explorer/vocab/terms/ensembl.gene/'
          x-requestTemplate:
            - valueType: 'http://biothings.io/explorer/vocab/terms/ensembl.gene/'
              template: '/lookup/id/{geneid}?content-type=application/json;phenotypes=1;expand=1'
          schema:
            type: string
      responses:
        '200':
          description: 'ensembl gene lookup information'
          x-responseValueType:
            - path: Transcript.Exon.id
              valueType: 'http://identifiers.org/ensembl.exon/'
            - path: Transcript.Translation.id
              valueType: 'http://biothings.io/explorer/vocab/terms/ensembl.protein/'
            - path: phenotypes.ontology_accessions
              valueType: 'http://identifiers.org/efo/'
            - path: phenotypes.ontology_accessions
              valueType: 'http://identifiers.org/hp/'
          x-JSONLDContext:
            'ensembl/jsonld_context/ensembl_gene_context.json'