openapi: '3.0.0'
info:
  version: '1.0'
  title: EBI Ontology Service API
  description: >-
    The Ontology Lookup Service (OLS) is a repository for biomedical ontologies that aims to provide a single point of access to the latest ontology versions. You can browse the ontologies through the website as well as programmatically via the OLS API. OLS is developed and maintained by the Samples, Phenotypes and Ontologies Team at EMBL-EBI.
  termsOfService: https://www.ebi.ac.uk/ols/docs/about
  contact:
    name: Jupp S.
    x-role: responsible developer
    email: ols-support@ebi.ac.uk
    x-id: 'https://github.com/EBISPOT/OLS'
servers:
  - url: 'https://www.ebi.ac.uk/ols/api'
    description: 'Production server'
tags:
  - name: ontology
  - name: query
  - name: translator
paths:
  /ontologies/uberon/terms/{uberonid}:
    get:
      summary: Return uberon descriptions
      parameters:
        - name: uberonid
          in: path
          description: >-
            UBERON id, e.g. 0004476
          required: true
          x-valueType:
            - 'http://identifiers.org/uberon/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/uberon/'
              template: '/ontologies/uberon/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FUBERON_{uberonid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An UBERON description object'
          x-responseValueType:
            - path: label
              valueType: 'http://biothings.io/explorer/vocab/terms/anatomy/'
            - path: description
              valueType: 'http://biothings.io/explorer/vocab/terms/anatomy-description/'
            - path: annotation.cross_database_reference
              valueType: 'http://biothings.io/explorer/vocab/terms/mesh.anatomy/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_term_anatomy.json'
  /ontologies/cl/terms/{clid}:
    get:
      summary: Return CL descriptions
      parameters:
        - name: clid
          in: path
          description: >-
            CL id, e.g. 0000038
          required: true
          x-valueType:
            - 'http://identifiers.org/cl/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/cl/'
              template: '/ontologies/cl/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FCL_{clid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An CL description object'
          x-responseValueType:
            - path: label
              valueType: 'http://biothings.io/explorer/vocab/terms/anatomy/'
            - path: description
              valueType: 'http://biothings.io/explorer/vocab/terms/anatomy-description/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_term_anatomy.json'
  /ontologies/hp/terms/{hpid}:
    get:
      summary: Return Human Phenotypes descriptions
      parameters:
        - name: hpid
          in: path
          description: >-
            HP id, e.g. 0011105
          required: true
          x-valueType:
            - 'http://identifiers.org/hp/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/hp/'
              template: '/ontologies/hp/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FHP_{hpid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Human Phenotypes description object'
          x-responseValueType:
            - path: label
              valueType: 'http://biothings.io/explorer/vocab/terms/phenotype-name/'
            - path: description
              valueType: 'http://biothings.io/explorer/vocab/terms/phenotype-description/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_term_phenotype.json'
  /ontologies/go/terms/{goid}:
    get:
      summary: Return Gene Ontology descriptions
      parameters:
        - name: goid
          in: path
          description: >-
            GO id, e.g. 0042535
          required: true
          x-valueType:
            - 'http://identifiers.org/go/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/go/'
              template: '/ontologies/go/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FGO_{goid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Gene Ontology description object'
          x-responseValueType:
            - path: description
              valueType: 'http://biothings.io/explorer/vocab/terms/go-description/'
            - path: label
              valueType: 'http://biothings.io/explorer/vocab/terms/go-term/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_term_go.json'
  /ontologies/doid/terms/{doid}:
    get:
      summary: Return Disease Ontology descriptions
      parameters:
        - name: doid
          in: path
          description: >-
            DO id, e.g. 126
          required: true
          x-valueType:
            - 'http://identifiers.org/doid/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/doid/'
              template: '/ontologies/doid/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FDOID_{doid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Disease Ontology description object'
          x-responseValueType:
            - path: description
              valueType: 'http://biothings.io/explorer/vocab/terms/disease-description/'
            - path: label
              valueType: 'http://biothings.io/explorer/vocab/terms/disease-name/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_term_do.json'
  /ontologies/go/children/{goid}:
    get:
      summary: Return children Gene Ontology id
      parameters:
        - name: goid
          in: path
          description: >-
            GO id, e.g. 0042535
          required: true
          x-valueType:
            - 'http://identifiers.org/go/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/go/'
              template: '/ontologies/go/children?id=GO:{goid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Gene Ontology child object'
          x-responseValueType:
            - path: _embedded.terms.obo_id
              valueType: 'http://identifiers.org/go/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_go_child.json'
  /ontologies/go/parents/{goid}:
    get:
      summary: Return parent Gene Ontology id
      parameters:
        - name: goid
          in: path
          description: >-
            GO id, e.g. 0042535
          required: true
          x-valueType:
            - 'http://identifiers.org/go/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/go/'
              template: '/ontologies/go/parents?id=GO:{goid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Gene Ontology parent object'
          x-responseValueType:
            - path: _embedded.terms.obo_id
              valueType: 'http://identifiers.org/go/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_go_parent.json'
  /ontologies/doid/children/{doid}:
    get:
      summary: Return children Disease Ontology id
      parameters:
        - name: doid
          in: path
          description: >-
            DO id, e.g. 162
          required: true
          x-valueType:
            - 'http://identifiers.org/doid/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/doid/'
              template: '/ontologies/doid/children?id=DOID:{doid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Disease Ontology child object'
          x-responseValueType:
            - path: _embeddd.terms.obo_id
              valueType: 'http://identifiers.org/doid/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_do_child.json'
  /ontologies/do/parents/{doid}:
    get:
      summary: Return parent Disease Ontology id
      parameters:
        - name: doid
          in: path
          description: >-
            DO id, e.g. 162
          required: true
          x-valueType:
            - 'http://identifiers.org/doid/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/doid/'
              template: '/ontologies/doid/parents?id=DOID:{doid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Disease Ontology parent object'
          x-responseValueType:
            - path: _embeddd.terms.obo_id
              valueType: 'http://identifiers.org/doid/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_do_parent.json'
  /ontologies/uberon/parents/{uberonid}:
    get:
      summary: Return parent Uberon Ontology id
      parameters:
        - name: uberonid
          in: path
          description: >-
            Uberon id, e.g. 0035553
          required: true
          x-valueType:
            - 'http://identifiers.org/uberon/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/uberon/'
              template: '/ontologies/uberon/parents?id=UBERON:{uberonid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Uberon Ontology parent object'
          x-responseValueType:
            - path: _embeddd.terms.obo_id
              valueType: 'http://identifiers.org/uberon/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_uberon_parent.json'
  /ontologies/uberon/children/{uberonid}:
    get:
      summary: Return child Uberon Ontology id
      parameters:
        - name: uberonid
          in: path
          description: >-
            Uberon id, e.g. 0035553
          required: true
          x-valueType:
            - 'http://identifiers.org/uberon/'
          x-requestTemplate:
            - valueType: 'http://identifiers.org/uberon/'
              template: '/ontologies/uberon/children?id=UBERON:{uberonid}'
          schema:
            type: string
      responses:
        '200':
          description: 'An Uberon Ontology child object'
          x-responseValueType:
            - path: _embeddd.terms.obo_id
              valueType: 'http://identifiers.org/uberon/'
          x-JSONLDContext:
            'ebi_ontology_lookup_service_api/jsonld_context/ols_uberon_child.json'
